@charset "UTF-8";
/*
@font-face {
  font-family: 'Open Sans';
  src:  url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open Sans Bold';
  src:  url('../fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
}
*/
@font-face {
  font-family: 'Big Noodle';
  src: url("../fonts/big_noodle/big_noodle_titling.ttf") format("truetype"); }
@font-face {
  font-family: 'Big Noodle Italic';
  src: url("../fonts/big_noodle/big_noodle_titling_oblique.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/RobotoTTF/Roboto-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/RobotoTTF/Roboto-Bold.ttf") format("truetype"); }
.no-margin {
  margin: 0 !important; }

.no-padding {
  padding: 0 !important; }

.margin {
  margin: 0 12px 12px; }

ul.no-padding li {
  padding: 0; }

.padding-block {
  padding: 12px 12px; }
  .padding-block:before, .padding-block:after {
    content: " ";
    display: table; }
  .padding-block:after {
    clear: both; }

.padding-block-lg {
  padding: 24px 24px; }

.padding-block-sm {
  padding: 6px 6px; }

.list-inline.vtop li, .vtop.list-inline-bordered li {
  vertical-align: top; }

ul.no-padding > li {
  padding: 0; }

ul.medium > li {
  padding-left: 6px;
  padding-right: 6px; }

ul.large > li {
  padding-left: 12px;
  padding-right: 12px; }

/*
.list-float{
	@extend .list-inline;
	li{
		display:block;
		float:left;
	}
}
*/
.disabled {
  opacity: 0.4;
  filter: alpha(opacity=40); }

.caret, .caret-down, .caret-right {
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.caret-down {
  vertical-align: middle;
  border-bottom-width: 2px; }

.caret-right {
  vertical-align: middle;
  border-right-width: 2px; }

body {
  margin: 0;
  padding: 0px; }

img {
  width: 100%;
  margin: 10px 0; }

body {
  font-family: "Roboto";
  font-size: 16px;
  text-align: center;
  background-color: #E9ECF0; }

hr {
  border-top: 2px solid #CED4D8;
  margin: 20px 40px; }

strong {
  font-family: "Roboto Bold"; }

.list-bordered li + li {
  border-top: 1px solid #eee; }

.list-inline-bordered > li {
  border-right: 1px solid #eee; }
.list-inline-bordered > li:last-child {
  border-right: none; }

h2 {
  color: #DC3D50;
  text-transform: uppercase;
  font-family: "Big Noodle";
  text-align: center;
  padding: 20px 0; }

.highlight {
  color: #DC3D50;
  font-family: "Roboto Bold"; }

ul.bullet {
  padding-left: 10px;
  list-style: none; }
  ul.bullet li:before {
    content: "• ";
    color: #DC3D50;
    /* or whatever color you prefer */
    vertical-align: middle;
    font-size: 40px;
    line-height: .6em; }

.days_event {
  background-color: #515577;
  padding: 20px 40px 0;
  overflow-x: hidden; }
  .days_event h1, .days_event a, .days_event p, .days_event h2, .days_event span, .days_event label {
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px; }
  .days_event h1 {
    text-align: center;
    color: #DC3D50;
    font-family: "Big Noodle","Roboto Bold",Helvetica, Arial;
    margin-bottom: 0;
    padding-bottom: 0; }
  .days_event h2 {
    text-align: center;
    font-family: "Big Noodle","Roboto Bold",Helvetica, Arial;
    margin: 0;
    padding: 0; }
  .days_event h2, .days_event p {
    color: white; }
  .days_event .day_guru {
    margin: 0 auto;
    position: relative;
    list-style: none;
    width: 202px;
    height: 250px; }
    .days_event .day_guru img {
      position: absolute;
      left: 0%; }
    .days_event .day_guru img:first-child {
      z-index: 10;
      -webkit-animation: moveguru 3s ease-in-out infinite;
      -moz-animation: moveguru 3s ease-in-out infinite;
      -o-animation: moveguru 3s ease-in-out infinite; }
    .days_event .day_guru img:last-child {
      z-index: 5;
      -webkit-animation: moveshadow 3s ease-in-out infinite;
      -moz-animation: moveshadow 3s ease-in-out infinite;
      -o-animation: moveshadow 3s ease-in-out infinite; }
  .days_event *[class^='cloud_'] {
    position: absolute;
    z-index: 0; }
  .days_event .cloud_0 {
    width: 65px;
    height: 23px; }
  .days_event .cloud_1 {
    width: 84px;
    height: 30px; }
  .days_event .cloud_2 {
    width: 106px;
    height: 36px; }
  .days_event .cloud_3 {
    width: 172px;
    height: 58px; }
  .days_event .close {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 10px;
    right: 20px;
    display: inline-block; }

@-webkit-keyframes moveguru {
  0% {
    top: 10px; }
  50% {
    top: 0px; }
  100% {
    top: 10px; } }
@-moz-keyframes moveguru {
  0% {
    top: 10px; }
  50% {
    top: 0px; }
  100% {
    top: 10px; } }
@-o-keyframes moveguru {
  0% {
    top: 10px; }
  50% {
    top: 0px; }
  100% {
    top: 10px; } }
@-webkit-keyframes moveshadow {
  0% {
    bottom: 5px; }
  50% {
    bottom: 0px;
    height: 30px;
    opacity: .5; }
  100% {
    bottom: 5px; } }
@-moz-keyframes moveshadow {
  0% {
    bottom: 10px; }
  50% {
    bottom: 0px; }
  100% {
    bottom: 10px; } }
@-o-keyframes moveshadow {
  0% {
    bottom: 10px; }
  50% {
    bottom: 0px; }
  100% {
    bottom: 10px; } }
/*Time to animate*/
.x0 {
  -webkit-animation: moveclouds 35s linear infinite;
  -moz-animation: moveclouds 35s linear infinite;
  -o-animation: moveclouds 35s linear infinite; }

.x1 {
  top: 200px;
  -webkit-animation: moveclouds 45s linear infinite;
  -moz-animation: moveclouds 45s linear infinite;
  -o-animation: moveclouds 45s linear infinite; }

.x2 {
  top: 400px;
  -webkit-animation: moveclouds 40s linear infinite;
  -moz-animation: moveclouds 40s linear infinite;
  -o-animation: moveclouds 40s linear infinite; }

.x3 {
  top: 250px;
  -webkit-animation: moveclouds 23s linear infinite;
  -moz-animation: moveclouds 23s linear infinite;
  -o-animation: moveclouds 23s linear infinite; }

@-webkit-keyframes moveclouds {
  0% {
    left: 500px; }
  100% {
    left: -500px; } }
@-moz-keyframes moveclouds {
  0% {
    left: 500px; }
  100% {
    left: -500px; } }
@-o-keyframes moveclouds {
  0% {
    left: 500px; }
  100% {
    left: -500px; } }
/**/
/**/
.anticonceptivos-0 {
  background-image: url(../images/anticonceptivos_0); }

.anticonceptivos-1 {
  background-image: url(../images/anticonceptivos_1); }

.anticonceptivos-2 {
  background-image: url(../images/anticonceptivos_2); }

.anticonceptivos-3 {
  background-image: url(../images/anticonceptivos_3); }

.anticonceptivos-4 {
  background-image: url(../images/anticonceptivos_4); }

.anticonceptivos-5 {
  background-image: url(../images/anticonceptivos_5); }

.anticonceptivos-6 {
  background-image: url(../images/anticonceptivos_6); }

.anticonceptivos-7 {
  background-image: url(../images/anticonceptivos_7); }

.anticonceptivos-8 {
  background-image: url(../images/anticonceptivos_8); }

.anticonceptivos-9 {
  background-image: url(../images/anticonceptivos_9); }

.anticonceptivos-10 {
  background-image: url(../images/anticonceptivos_10); }

.anticonceptivos-11 {
  background-image: url(../images/anticonceptivos_11); }
